<p style="color: green"><%= notice %></p>

<h1><%= t('books') %></h1>

<%= link_to "English", url_for(locale: :en) %>
<%= link_to "日本語", url_for(locale: :ja) %>

<div id="books" class="index-items">
  <% @books.each do |book| %>
    <div class="index-item">
      <%= render book %>
      <p>
        <%= link_to t('show', obj: Book.model_name.human), book %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('new', obj: Book.model_name.human), new_book_path %>
</nav>
